
h1, h2 {
    color: black;
    text-align: center;
    text-decoration: underline;
        }
p {
    font-family: sans-serif;
    line-height: 1,5;
        }

div {
   background-repeat: no-repeat;
   background-size: contain;
   height: 150px;
   background-position: center;
    }
li{
    display: inline-block;
    width: 45%;
    text-align: center;
}
.space {
        width: 900000%;
    height: 50px
   }